table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
#del {
  background-color: crimson;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  padding: 4px 8px;
}
#edit {
  background-color: seagreen;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  padding: 4px 8px;
}

.faram{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgba(201, 93, 39, 0.829);
  padding: 2rem;
  width: 300px;
  padding-top: 6rem;
  border-radius: 8px;
  position: relative;
}
form input{
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  padding: 10px ;
  width: 90%;
}
#x{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 1rem;
}
.hidden{
  display: none;
}